<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>{{ title }}</title>
</head>
<header>
    <h1 class="text-center my-3">Bienvenido/a a MELI-Scraper</h1>
</header>
<body>
    <div class="container mt-3">
        
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 my-5">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-floating mb-3">
                        {{ form.term(size=128,class_="form-floating mb-3") }}
                        <div class="col-md-2">
                            {{ form.term.label }}
                        </div>
                    </div>

                        {% for error in form.term.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}

                    <div class="form-group text-center">
                        {{ form.submit(class_="btn btn-lg btn-primary") }}
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>

            <!-- LISTING ALL FOUND PRODUCTS -->
            {% if products %}
            <div class="row text-center">
                <div class="mx-auto alert alert-success fade show col-md-3" role="alert">Promedio de ventas: <b>{{ avg_sales }}</b></div>
                <div class="mx-auto alert alert-success fade show col-md-3" role="alert">Precio promedio: <b>{{ avg_price }}</b></div>
                <div class="mx-auto alert alert-success fade show col-md-3" role="alert">Articulos encontrados: <b>{{ products|length }}</b></div>


            </div>
            <div class="col-md-12 my-3">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Ventas</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <th scope="row">{{ product.id }}</th>
                            <td>
                                <img src="{{ product.image }}" class="rounded block" height="65px" width="65px">
                            </td>
                            <td>
                                <a href="{{ product.link }}" target="_blank" rel="noopener noreferrer">{{ product.title }}</a>
                            </td>
                            <td> 
                                {{ product.sells }}
                            </td>
                            <td>
                                ${{ product.price }}
                            </td>
                            <td>
                                {{ product.rating }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

        </div>
    </div>

        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>